.input-wrapper {
  label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: block;
    margin-bottom: 8px;
  }
  .MuiFormControl-root {
    width: 100%;
  }
}
