.quote-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  min-height: 60vh;
  justify-content: center;
  .quote-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .quote-icon {
      font-size: 5rem;
      color: #aae8ff;
      text-align: center;
    }
  }

  .slider {
    position: relative;
    .slick-prev {
      z-index: 1;
    }
    .slick-prev:before {
      position: absolute;
      left: 20rem;
    }
    .slick-next:before {
      position: absolute;
      right: 20rem;
    }
    .slick-prev:before,
    .slick-next:before {
      padding-top: 3px;
      color: #565771;
      font-size: 40px;
    }
    .slide-item {
      width: 60% !important;
      margin: auto;
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 2rem;
        object-fit: cover;
      }
      p {
        margin: 1rem 0 1rem 0;
        text-align: center;
      }
      p.quote {
        font-size: 16px;
      }
      p.info {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: #a9a9a9;
      }
    }
  }
}
